<div class="container py-5 my-5">
        <div class="row">

            <!-- Quick Links -->
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="footer-menu">
                    <h3 class="mb-3" style="color: #3A7A5B;">Quick Links</h3>
                    <ul class="menu-list list-unstyled">
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Home</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">About Us</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Offer</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Services</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Contact Us</a></li>
                    </ul>
                </div>
            </div>

            <!-- Help Center -->
            <div class="col-md-3 mb-4 mb-md-0">
                <div class="footer-menu">
                    <h3 class="mb-3" style="color: #3A7A5B;">Help Center</h3>
                    <ul class="menu-list list-unstyled">
                        <li><a href="#" class="nav-link" style="color: #5B9279;">FAQs</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Payment</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Returns & Refunds</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Checkout</a></li>
                        <li><a href="#" class="nav-link" style="color: #5B9279;">Delivery Info</a></li>
                    </ul>
                </div>
            </div>

            <!-- Newsletter -->
            <div class="col-md-6">
                <div>
                    <h3 class="mb-3" style="color: #3A7A5B;">Our Newsletter</h3>
                    <p class="fs-6" style="color: #5B9279;">Subscribe to receive updates on exclusive offers and
                        seasonal specials.</p>
                    <form class="d-flex align-items-center bg-white border border-success-subtle rounded-pill px-3 mt-3">
                        <input
                                type="email"
                                class="form-control border-0 bg-transparent shadow-none"
                                placeholder="Enter your email here"
                                required/>
                        <button type="submit" class="btn p-0 ms-2">
                            <iconify-icon icon="tabler:send" style="color: #3A7A5B; font-size: 24px;"></iconify-icon>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>