{% extends 'base.html' %}
{% load main_tags %}

{% block title %}
    Home page
{% endblock %}




{% block content %}
    {% get_categories as categories %}
    <section id="banner" style="background-color: #e5f3e6;">
        <div class="container">
            <div class="swiper main-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide py-5">
                        <div class="row banner-content align-items-center">
                            <div class="img-wrapper col-md-5">
                                <!-- Можно добавить изображение -->
                            </div>
                            <div class="content-wrapper col-md-7 p-5 mb-5">
                                <div class="secondary-font text-uppercase mb-4" style="color: #379042;">Natural &
                                    Healthy
                                </div>
                                <h2 class="banner-title display-1 fw-normal">
                                    Delicious <span style="color: #379042;">Mixed Dried Fruits</span>
                                </h2>
                                <p class="mb-4 fs-5 text-dark-emphasis">A perfect blend of dried apricots, figs, and
                                    raisins
                                    for your healthy snacking.</p>
                                <a href="shop.html" class="btn btn-primary btn-lg text-uppercase fs-6 rounded-1"
                                   style="--bs-btn-bg: #379042;">
                                    Shop Now
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="swiper-slide py-5">
                        <div class="row banner-content align-items-center">
                            <div class="img-wrapper col-md-5"></div>
                            <div class="content-wrapper col-md-7 p-5 mb-5">
                                <div class="secondary-font text-uppercase mb-4" style="color: #379042;">Sweet & Tasty
                                </div>
                                <h2 class="banner-title display-1 fw-normal">
                                    Premium <span style="color: #379042;">Dried Apricots</span>
                                </h2>
                                <p class="mb-4 fs-5 text-dark-emphasis">Naturally dried, full of flavor and packed with
                                    nutrients.</p>
                                <a href="shop.html" class="btn btn-primary btn-lg text-uppercase fs-6 rounded-1"
                                   style="--bs-btn-bg: #379042;">
                                    Buy Now
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="swiper-slide py-5">
                        <div class="row banner-content align-items-center">
                            <div class="img-wrapper col-md-5"></div>
                            <div class="content-wrapper col-md-7 p-5 mb-5">
                                <div class="secondary-font text-uppercase mb-4" style="color: #379042;">Nutritious Mix
                                </div>
                                <h2 class="banner-title display-1 fw-normal">
                                    Organic <span style="color: #379042;">Dried Figs & Nuts</span>
                                </h2>
                                <p class="mb-4 fs-5 text-dark-emphasis">Handpicked figs combined with premium nuts for
                                    the
                                    ultimate snack.</p>
                                <a href="shop.html" class="btn btn-primary btn-lg text-uppercase fs-6 rounded-1"
                                   style="--bs-btn-bg: #379042;">
                                    Order Today
                                    <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination mb-5"></div>
            </div>
        </div>
    </section>

    <section id="categories">
        <div class="container my-3 py-5">
            <div class="row my-5">
                {% for category in categories %}
                    <div class="col text-center">
                        <a href="{{ category.get_absolute_url }}"
                           class="categories-item text-decoration-none text-dark">
                            {#                            <iconify-icon class="category-icon mb-3" icon="mdi:fruit-cherries"#}
                            {#                                          style="color: #379042; font-size: 3rem;"></iconify-icon>#}
                            <h5 class="fw-semibold" style="color: #379042;">{{ category.name }}</h5>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="dried-fruits" class="my-5 overflow-hidden">
        <div class="container pb-5">

            <!-- Заголовок секции -->
            <div class="section-header d-md-flex justify-content-between align-items-center mb-3">
                <h2 class="display-3 fw-normal text-dark">Dried Fruits</h2>
                <div>
                    <a href="#" class="btn btn-outline-success btn-lg text-uppercase fs-6 rounded-1"
                       style="--bs-btn-border-color: #379042; --bs-btn-color: #379042;">
                        Shop Now
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1" fill="#379042">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Слайдер продуктов -->
            <div class="products-carousel swiper">
                <div class="swiper-wrapper">

                    <!-- Пример карточки -->
                    {% for product in products %}
                        <div class="swiper-slide">
                            <div class="position-absolute z-1 rounded-3 m-3 px-3 bg-success-subtle text-success small fw-semibold"
                                 style="border: 1px solid #379042;">
                                {{ product.status }}
                            </div>
                            <div class="card position-relative border-0 shadow-sm">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.get_image }}" class="img-fluid rounded-4"
                                         alt="{{ product.name }}">
                                </a>
                                <div class="card-body p-0">
                                    <a href="{{ product.get_absolute_url }}">
                                        <h3 class="card-title pt-4 m-0 text-dark">{{ product.name }}</h3>
                                    </a>
                                    <div class="card-text">
                                        {#                                    <h3 class="secondary-font fw-semibold" style="color: #379042;">$12.99</h3>#}
                                        <div class="d-flex flex-wrap mt-3">
                                            <a href="#"
                                               class="btn-cart me-3 px-4 pt-3 pb-3 bg-success text-white rounded-1">
                                                <h5 class="text-uppercase m-0 fs-6">Add to Cart</h5>
                                            </a>
                                            <a href="#" class="btn-wishlist px-4 pt-3 text-success">
                                                <iconify-icon icon="fluent:heart-28-filled" class="fs-5"
                                                              style="color: #379042;"></iconify-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- Остальные карточки — по аналогии, только замени цену, заголовок и иконку скидки/ярлык -->
                    <!-- ... -->

                </div>
            </div>

        </div>
    </section>

    <section id="banner-2" class="my-3 py-5" style="background-color: #F0F7F3;">
        <div class="container">
            <div class="row banner-content align-items-center">
                <div class="content-wrapper col-12 col-md-12 p-5 text-center text-md-start">
                    <div class="secondary-font text-success text-uppercase mb-3 fs-4 fw-semibold"
                         style="color: #379042;">
                        Up to 40% Off
                    </div>
                    <h2 class="banner-title display-1 fw-bold text-dark">
                        Natural <span style="color: #379042;">Dried Fruits</span> Sale!
                    </h2>
                    <p class="lead my-3 text-secondary">
                        Discover premium dried apricots, figs, dates, and more — all at discounted prices.
                    </p>
                    <a href="#" class="btn btn-success btn-lg text-uppercase fs-6 rounded-1 px-5 py-3"
                       style="background-color: #379042; border-color: #379042;">
                        Shop Now
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1 ms-2" fill="#fff">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial">
        <div class="container my-5 py-5">
            <div class="row">
                <div class="offset-md-1 col-md-10">
                    <div class="swiper testimonial-swiper">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-2">
                                        <iconify-icon icon="ri:double-quotes-l" class="quote-icon fs-1"
                                                      style="color: #379042;"></iconify-icon>
                                    </div>
                                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5 bg-white rounded-4 shadow-sm">
                                        <p class="testimonial-content fs-3 text-secondary-emphasis">
                                            “The dried apricots are incredibly sweet and fresh. I can’t believe they’re
                                            not
                                            full of added sugar — just pure goodness!”
                                        </p>
                                        <p class="fw-bold text-success-emphasis mt-3" style="color: #379042;">– Anna
                                            Petrova</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-2">
                                        <iconify-icon icon="ri:double-quotes-l" class="quote-icon fs-1"
                                                      style="color: #379042;"></iconify-icon>
                                    </div>
                                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5 bg-white rounded-4 shadow-sm">
                                        <p class="testimonial-content fs-3 text-secondary-emphasis">
                                            “Finally found a place with real, sun-dried figs and no preservatives.
                                            Delicious
                                            and healthy snack for my kids!”
                                        </p>
                                        <p class="fw-bold text-success-emphasis mt-3" style="color: #379042;">– Dmitry
                                            Sokolov</p>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-2">
                                        <iconify-icon icon="ri:double-quotes-l" class="quote-icon fs-1"
                                                      style="color: #379042;"></iconify-icon>
                                    </div>
                                    <div class="col-md-10 mt-md-5 p-5 pt-0 pt-md-5 bg-white rounded-4 shadow-sm">
                                        <p class="testimonial-content fs-3 text-secondary-emphasis">
                                            “I ordered dried mango and dates — they arrived fast and taste amazing. Will
                                            definitely be ordering again.”
                                        </p>
                                        <p class="fw-bold text-success-emphasis mt-3" style="color: #379042;">– Elena
                                            Markina</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="swiper-pagination mt-4"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="bestselling" class="my-5 overflow-hidden">
        <div class="container py-5 mb-5">

            <div class="section-header d-md-flex justify-content-between align-items-center mb-4">
                <h2 class="display-4 fw-semibold text-dark">Best Selling Dried Fruits</h2>
                <div>
                    <a href="#" class="btn btn-outline-success btn-lg text-uppercase fs-6 rounded-1"
                       style="border-color: #379042; color: #379042;">
                        Shop Now
                        <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1 ms-2">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="swiper bestselling-swiper">
                <div class="swiper-wrapper">

                    {% for product in products %}
                        <div class="swiper-slide">
                            <div class="card position-relative border-0 shadow-sm rounded-4">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.get_image }}"
                                         class="img-fluid rounded-top-4" alt="Dried Apricots"></a>
                                <div class="card-body p-4">
                                    <a href="{{ product.get_absolute_url }}">
                                        <h5 class="card-title fw-semibold text-dark">{{ product.name }}</h5>
                                    </a>
                                    <div class="card-text">
{#                                        <h5 class="text-success" style="color: #379042;">$6.90 / 500g</h5>#}
                                        <div class="d-flex flex-wrap mt-3">
                                            <a href="#" class="btn btn-success text-white me-3 px-4 py-2 rounded-1"
                                               style="background-color: #379042;">
                                                Add to Cart
                                            </a>
                                            <a href="#" class="btn-wishlist px-3 pt-2">
                                                <iconify-icon icon="fluent:heart-28-filled"
                                                              class="fs-5 text-danger"></iconify-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div> <!-- /.swiper-wrapper -->
            </div> <!-- /.swiper -->

        </div>
    </section>

    {#    <section id="register" style="background-color: #F2F8F5;">#}
    {#        <div class="container">#}
    {#            <div class="row my-5 py-5">#}
    {#                <div class="offset-md-3 col-md-6 my-5">#}
    {##}
    {#                    <h2 class="display-4 fw-semibold text-center">#}
    {#                        Get <span style="color: #379042;">20% OFF</span> Your First Order#}
    {#                    </h2>#}
    {##}
    {#                    <p class="text-center text-muted mb-4">#}
    {#                        Join our dried fruits family and enjoy exclusive deals and healthy tips!#}
    {#                    </p>#}
    {##}
    {#                    <form>#}
    {#                        <div class="mb-3">#}
    {#                            <input type="email"#}
    {#                                   class="form-control form-control-lg rounded-2 shadow-sm border border-success-subtle"#}
    {#                                   name="email" id="email"#}
    {#                                   placeholder="Enter your email address" required>#}
    {#                        </div>#}
    {##}
    {#                        <div class="mb-3">#}
    {#                            <input type="password"#}
    {#                                   class="form-control form-control-lg rounded-2 shadow-sm border border-success-subtle"#}
    {#                                   name="password" id="password1"#}
    {#                                   placeholder="Create a password" required>#}
    {#                        </div>#}
    {##}
    {#                        <div class="mb-3">#}
    {#                            <input type="password"#}
    {#                                   class="form-control form-control-lg rounded-2 shadow-sm border border-success-subtle"#}
    {#                                   name="confirm_password" id="password2"#}
    {#                                   placeholder="Repeat password" required>#}
    {#                        </div>#}
    {##}
    {#                        <div class="d-grid gap-2">#}
    {#                            <button type="submit" class="btn btn-lg text-white text-uppercase fw-semibold"#}
    {#                                    style="background-color: #379042;">#}
    {#                                Join Now#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </form>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    <section id="service">
        <div class="container py-5 my-5">
            <div class="row g-md-5 pt-4 text-center">
                <div class="col-md-3 my-3">
                    <div class="card border-0 shadow-sm py-4 px-3 h-100">
                        <div class="mb-3">
                            <iconify-icon icon="la:shopping-cart"
                                          style="color: #379042; font-size: 42px;"></iconify-icon>
                        </div>
                        <h3 class="card-title py-2 m-0 text-dark">Free Delivery</h3>
                        <div class="card-text">
                            <p class="fs-6 text-muted">Enjoy fast and free delivery on all orders above $30 within the
                                country.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 my-3">
                    <div class="card border-0 shadow-sm py-4 px-3 h-100">
                        <div class="mb-3">
                            <iconify-icon icon="la:user-check" style="color: #379042; font-size: 42px;"></iconify-icon>
                        </div>
                        <h3 class="card-title py-2 m-0 text-dark">100% Secure Payment</h3>
                        <div class="card-text">
                            <p class="fs-6 text-muted">Shop with confidence using our encrypted and secure checkout
                                process.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 my-3">
                    <div class="card border-0 shadow-sm py-4 px-3 h-100">
                        <div class="mb-3">
                            <iconify-icon icon="la:tag" style="color: #379042; font-size: 42px;"></iconify-icon>
                        </div>
                        <h3 class="card-title py-2 m-0 text-dark">Daily Offers</h3>
                        <div class="card-text">
                            <p class="fs-6 text-muted">Get exclusive discounts and special deals every day — don’t miss
                                out!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 my-3">
                    <div class="card border-0 shadow-sm py-4 px-3 h-100">
                        <div class="mb-3">
                            <iconify-icon icon="la:award" style="color: #379042; font-size: 42px;"></iconify-icon>
                        </div>
                        <h3 class="card-title py-2 m-0 text-dark">Quality Guarantee</h3>
                        <div class="card-text">
                            <p class="fs-6 text-muted">We source only premium dried fruits — naturally delicious and
                                nutritious.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}