<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>


{% include 'components/_styles.html' %}

</head>

<body>

    <!-- preloader -->
    {% include 'components/_preloader.html' %}

    <!-- header -->
    {% include 'components/_header.html' %}


    {% block content %}
    {% endblock %}


    <!-- footer -->
    {% include 'components/_footer.html' %}


    <!-- JS -->
    {% include 'components/_scripts.html' %}
</body>

</html>